{% extends "../../theme/tmpldoc.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-4">
        <h4>
            Search Results
        </h4>
    </div>
    <div class="col-xs-8 search-pane">
        Keysword <b> "{{ kwd['keyword'] }}" </b>{{ _('Search results') }} count: {{ kwd['count'] }}
        {% if kwd['count'] == 0 %}
            Please change your keywords{% if 'catname' in kwd %}，Or in a wider range of search{% end %} .
        {% end %}
    </div>
</div>

{% for x in srecs %}
<div class="row">
<!--    <b>{% raw x['type'] %}</b>-->


<!--    <p class="listinfo_content">-->
<!--        {% raw str((x.highlights('content')))[:400] %}-->
<!--    </p>-->
</div>
<div class="row search-detail">
    <h4>
        <a href="{% raw x['link'] %}" title="{{x['title']}}">
            {{x['title']}}
        </a>
    </h4>
    detailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetails
</div>
{% end %}

{% end %}
