{% extends "../theme/bage.html" %}
{% block head %}
<title>访问来源列表 </title>
<meta name="keywords" content="访问来源列表">
<meta name="description" content="访问来源列表">

{% end %}
{% block typebody %}
<div class="row">
    <div class="col-xs-2">avatar</div>
    <div class="col-xs-10"><input type="text"></div>
</div>
<div class="row index-content">
    <div id="questions">
        <div class="question-card">
            <div class="row">
                <div class="col-xs-3 author-avatar"><img src="/static/upload/avatar1.jpg" alt=""></div>
                <div class="col-xs-3 author-name">尼安德特人</div>
            </div>
            <div class="row question-title">
                Why are Chinese characters wearing Korean traditional clothing in historical Chinese dramas, and why is this phenomenon increasingly observed in recent years?
            </div>
            <div class="row descriptions">
                <p>
descriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptions
descriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptions
descriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptions
                </p>
            </div>
            <div class="row question-components">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true">11</span>
            </div>
        </div>
        <div class="question-card">
            <div class="row">
                <div class="col-xs-3 author-avatar"><img src="/static/upload/avatar1.jpg" alt=""></div>
                <div class="col-xs-3 author-name">尼安德特人</div>
            </div>
            <div class="row question-title">
                Why are Chinese characters wearing Korean traditional clothing in historical Chinese dramas, and why is this phenomenon increasingly observed in recent years?
            </div>
            <div class="row descriptions">
                <p>
descriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptions
descriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptions
descriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptionsdescriptions
                </p>
            </div>
            <div class="row question-components">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-comment" aria-hidden="true">11</span>
            </div>
        </div>
    </div>
</div>
{% end %}

