{% extends "../theme/bage.html" %}
{% block head %}

{% end %}

{% block mainbody %}
<div class="row index-content">
    <div>
        <div class="row title">
            <h4>Title</h4>
            <p class="author-detail">發文者:<a href="">尼安德特人</a> </p>
        </div>
        <div class="row more2less">
            <span><a onclick="collapse(this, 1)"><b>more</b></a></span>
            <span style="display: none"><a onclick="collapse(this, 2)"><b>less</b></a></span>
        </div>
        <div class="index-details">
        </div>
        <div class="row post-detail">
            <p>初次發布時刻: YYYY/MM/DD HH:mm:ss</p>
            <p>內容更新時刻: YYYY/MM/DD HH:mm:ss</p>
        </div>
        <div class="row more2less">
            <span><a onclick="collapse(this, 1)"><b>more</b></a></span>
            <span style="display: none"><a onclick="collapse(this, 2)"><b>less</b></a></span>
        </div>
        <hr />
    </div>
    <div>
        <div class="row title">
            <h4>Title</h4>
            <p class="author-detail">發文者:<a href="">尼安德特人</a> </p>
        </div>
        <div class="row more2less">
            <span><a onclick="collapse(this, 1)"><b>more</b></a></span>
            <span style="display: none"><a onclick="collapse(this, 2)"><b>less</b></a></span>
        </div>
        <div class="index-details">
        </div>
        <div class="row post-detail">
            <p>初次發布時刻: YYYY/MM/DD HH:mm:ss</p>
            <p>內容更新時刻: YYYY/MM/DD HH:mm:ss</p>
        </div>
        <div class="row more2less">
            <span><a onclick="collapse(this, 1)"><b>more</b></a></span>
            <span style="display: none"><a onclick="collapse(this, 2)"><b>less</b></a></span>
        </div>
        <hr />
    </div>
    <div>
        <div class="row title">
            <h4>Title</h4>
            <p class="author-detail">發文者:<a href="">尼安德特人</a> </p>
        </div>
        <div class="row more2less">
            <span><a onclick="collapse(tFhis, 1)"><b>more</b></a></span>
            <span style="display: none"><a onclick="collapse(this, 2)"><b>less</b></a></span>
        </div>
        <div class="index-details">
        </div>
        <div class="row post-detail">
            <p>初次發布時刻: YYYY/MM/DD HH:mm:ss</p>
            <p>內容更新時刻: YYYY/MM/DD HH:mm:ss</p>
        </div>
        <div class="row more2less">
            <span><a onclick="collapse(this, 1)"><b>more</b></a></span>
            <span style="display: none"><a onclick="collapse(this, 2)"><b>less</b></a></span>
        </div>
        <hr />
    </div>
</div>

<script type="text/javascript">

    $(function(){
        var dataUrl3 = "/static/tmp/tmp_content.json"
        var request3 = new XMLHttpRequest();
        request3.open("get", dataUrl3)
        request3.send(null)
        request3.onload = function(){
            if (request.status == 200) {
                var detailList = request3.responseText
                details = $('.index-details')
                for (let i=0; i<details.length; i++) {
                    innerText = JSON.parse(detailList)[0].content
                    var smallText = innerText.substr(0,450)
                    details[i].innerHTML = "<p>"+smallText+"</p>"
                }
            }
        }
    })
</script>
<script type="text/javascript">
    function collapse(e, flag) {
        var dataUrl3 = "/static/tmp/tmp_content.json"
        var request3 = new XMLHttpRequest();
        request3.open("get", dataUrl3)
        request3.send(null)
        targetDetail = e.parentNode.parentNode.parentNode.getElementsByClassName("index-details")[0]

        if (flag === 1){
            request3.onload = function(){
                if (request.status == 200) {
                    var detailList = request3.responseText
                    innerText = JSON.parse(detailList)[0].content
                    targetDetail.innerHTML = "<p>"+innerText+"</p>"
                }
            }
            e.parentNode.style.display = "none"
            e.parentNode.nextElementSibling.style.display = ""
        } else{
            request3.onload = function(){
                if (request.status == 200) {
                    var detailList = request3.responseText
                    innerText = JSON.parse(detailList)[0].content
                    var smallText = innerText.substr(0,450)
                    targetDetail.innerHTML = "<p>"+smallText+"</p>"
                }
            }
            e.parentNode.style.display = "none"
            e.parentNode.previousElementSibling.style.display = ""
        }
    }
</script>
{% end %}
