
    {% extends "../../tmpl_9/tpl_edit.html" %}

    {% block header %}
    <h1>{{ header_text }}</h1>
    {% end %}

    {% block extrainfo %}

    <div id="iga_edit_rec_box">
    <div class="form-group">
    <label  for="tag__record"  class="col-sm-2 control-label">
    <span class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;">
    </span> Record</label><div class="col-sm-10">
    <select id="tag__record" name="tag__record" class="form-control">
    
        <option value="1"
        {% if  'tag__record' in postinfo.extinfo and postinfo.extinfo["tag__record"] == "1" %}
        selected = "selected"
        {% end %}
        >RS Image</option>
        
        <option value="2"
        {% if  'tag__record' in postinfo.extinfo and postinfo.extinfo["tag__record"] == "2" %}
        selected = "selected"
        {% end %}
        >GIS Data</option>
        
        <option value="3"
        {% if  'tag__record' in postinfo.extinfo and postinfo.extinfo["tag__record"] == "3" %}
        selected = "selected"
        {% end %}
        >Document</option>
        
        <option value="4"
        {% if  'tag__record' in postinfo.extinfo and postinfo.extinfo["tag__record"] == "4" %}
        selected = "selected"
        {% end %}
        >Multimedia</option>
        
        <option value="5"
        {% if  'tag__record' in postinfo.extinfo and postinfo.extinfo["tag__record"] == "5" %}
        selected = "selected"
        {% end %}
        >Formatted Data</option>
        
    </select></div></div>
    <div class="form-group">
    <label  for="tag__derive"  class="col-sm-2 control-label">
    <span class="glyphicon glyphicon-star" style="color: red;font-size: xx-small;">
    </span> Derive</label><div class="col-sm-10">
    <select id="tag__derive" name="tag__derive" class="form-control">
    
        <option value="1"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "1" %}
        selected = "selected"
        {% end %}
        >Observation</option>
        
        <option value="2"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "2" %}
        selected = "selected"
        {% end %}
        >Monitor</option>
        
        <option value="3"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "3" %}
        selected = "selected"
        {% end %}
        >Detection</option>
        
        <option value="4"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "4" %}
        selected = "selected"
        {% end %}
        >General Investigation</option>
        
        <option value="5"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "5" %}
        selected = "selected"
        {% end %}
        >Research</option>
        
        <option value="6"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "6" %}
        selected = "selected"
        {% end %}
        >Field trip</option>
        
        <option value="7"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "7" %}
        selected = "selected"
        {% end %}
        >Digital data</option>
        
        <option value="8"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "8" %}
        selected = "selected"
        {% end %}
        >Data reanalysis</option>
        
        <option value="9"
        {% if  'tag__derive' in postinfo.extinfo and postinfo.extinfo["tag__derive"] == "9" %}
        selected = "selected"
        {% end %}
        >Network capture</option>
        
    </select></div></div>
    
    </div>
    {% end %}
    {% block footer %}
    <p>{{ footer_text }}</p>
    {% end %}