<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% module use_f2e('f2elib') %}
    {% module use_f2e('codemirror') %}

    <link rel="stylesheet" href="/static/tass/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/music/music-style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/weather/weather-style.css" type="text/css">
    <link rel="stylesheet" href="/static/tass/css/diy-css.css" type="text/css">
    <link rel="stylesheet" href="/static/css/tag-cloud/tag-cloud.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/qweather-icons@1.1.1/font/qweather-icons.css">
    {% block headinfo %}
    {% end %}
    {% block head %}
    {% end %}

    <script src="{{ static_url('jslib/dst/getIP.js') }}"></script>

    <script language="javascript" type="text/javascript">
        // 统计用户 访问网站步骤记录
        var tjSecond = 0;
        var tjRandom = 0;
        var userinfo = "{{ userinfo.uid if userinfo else ''}}";

        window.setInterval(function () {
            tjSecond++;
        }, 1000);
        // 随机数
        tjRandom = (new Date()).valueOf();

        // 用户第一次访问页面记录部分数据
        window.onload = function () {

            var tjArr = localStorage.getItem("jsArr") ? localStorage.getItem("jsArr") : '[]';

            var dataArr = {
                'tjRd': tjRandom,
                'url': location.href,
                'refer': getReferrer(),
                'user_id': userinfo
            };
            tjArr = eval('(' + tjArr + ')');
            tjArr.push(dataArr);
            var tjArr1 = JSON.stringify(tjArr);

            localStorage.setItem("jsArr", tjArr1);


        };
        // 用户继续访问根据上面提供的key值补充数据
        window.onbeforeunload = function () {

            var tjArrRd = eval('(' + localStorage.getItem("jsArr") + ')');
            var tjI = tjArrRd.length - 1;
            if (tjArrRd[tjI].tjRd == tjRandom) {
                tjArrRd[tjI].time = tjSecond;
                tjArrRd[tjI].timeIn = Date.parse(new Date()) - (tjSecond * 1000);
                tjArrRd[tjI].timeOut = Date.parse(new Date());

                $.post("/log/_add", {
                    url: tjArrRd[tjI].url,
                    refer: tjArrRd[tjI].refer,
                    user_id: tjArrRd[tjI].user_id,
                    uid: tjArrRd[tjI].tjRd,
                    timeon: tjArrRd[tjI].time,
                    timein: tjArrRd[tjI].timeIn,
                    timeOut: tjArrRd[tjI].timeOut

                }, function (result) {
                });
                var tjArr1 = JSON.stringify(tjArrRd);
                localStorage.setItem("jsArr", tjArr1);


            }
        };


        function getReferrer() {
            var referrer = '';
            try {
                referrer = window.top.document.referrer;
            } catch (e) {
                if (window.parent) {
                    try {
                        referrer = window.parent.document.referrer;
                    } catch (e2) {
                        referrer = '';
                    }
                }
            }
            if (referrer === '') {
                referrer = document.referrer;
            }

            return referrer;

        }

    </script>


    <link href="/static/css/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">


</head>

<body class="body-style" onload="load_tree()">

    <div class="container diy-container">
        {% module nav_header(userinfo) %}
        <div class="row body-container">
            <div class="col-xs-3">
                <div class="row tennki-topic" id="d12">
                    {% module weather() %}
                </div>
                <div class="row music">
                    <div class="absolute right-4 top-4 music">
                        <div id="dark-mode-toggle" class="cursor-pointer">
                        </div>
                    </div>
                    <div class="relative w-player flex flex-col rounded-xl shadow-player-light bg-player-light-background border border-player-light-border dark:shadow-player-dark dark:bg-player-dark-background dark:border-player-dark-border dark:backdrop-blur-xl">
                        <div class="px-10 pt-10 pb-4 flex items-center z-50">
                            <img data-amplitude-song-info="cover_art_url" class="w-24 h-24 rounded-md mr-6 border border-bg-player-light-background dark:border-cover-dark-border" />
                            <div class="flex flex-col">
                                <span data-amplitude-song-info="name" class="font-sans text-lg font-medium leading-7 text-slate-900 dark:text-white"></span>
                        <div class="h-control-panel px-10 rounded-b-xl bg-control-panel-light-background border-t border-gray-200 flex items-center justify-between z-50 dark:bg-control-panel-dark-background dark:border-gray-900">
                            <div class="cursor-pointer" id="song-saved">
                                <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25 7C25 3.68629 22.2018 1 18.75 1C16.1692 1 13.9537 2.5017 13 4.64456C12.0463 2.5017 9.83082 1 7.25 1C3.79822 1 1 3.68629 1 7C1 14.6072 8.49219 20.1822 11.6365 22.187C12.4766 22.7226 13.5234 22.7226 14.3635 22.187C17.5078 20.1822 25 14.6072 25 7Z" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="cursor-pointer amplitude-prev">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M26 7C26 5.76393 24.5889 5.05836 23.6 5.8L11.6 14.8C10.8 15.4 10.8 16.6 11.6 17.2L23.6 26.2C24.5889 26.9416 26 26.2361 26 25V7Z" fill="#94A3B8" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round" />
                                    <path d="M6 5L6 27" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="cursor-pointer amplitude-play-pause w-24 rounded-full bg-white border border-play-pause-light-border shadow-xl flex items-center justify-center dark:bg-play-pause-dark-background dark:border-play-pause-dark-border">
                                <svg id="play-icon" class="ml-[10px]" width="31" height="37" viewBox="0 0 31 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6901 16.6608L4.00209 0.747111C2.12875 -0.476923 0.599998 0.421814 0.599998 2.75545V33.643C0.599998 35.9728 2.12747 36.8805 4.00209 35.6514L29.6901 19.7402C29.6901 19.7402 30.6043 19.0973 30.6043 18.2012C30.6043 17.3024 29.6901 16.6608 29.6901 16.6608Z" class="fill-slate-500 dark:fill-slate-400" />
                                </svg>

                                <svg id="pause-icon" width="24" height="36" viewBox="0 0 24 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="6" height="36" rx="3" class="fill-slate-500 dark:fill-slate-400" />
                                    <rect x="18" width="6" height="36" rx="3" class="fill-slate-500 dark:fill-slate-400" />
                                </svg>
                            </div>
                            <div class="cursor-pointer amplitude-next">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 7C6 5.76393 7.41115 5.05836 8.4 5.8L20.4 14.8C21.2 15.4 21.2 16.6 20.4 17.2L8.4 26.2C7.41115 26.9416 6 26.2361 6 25V7Z" fill="#94A3B8" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round" />
                                    <path d="M26 5L26 27" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                        <div class="hidden top-14 w-full absolute ml-auto mr-auto left-0 right-0 text-center max-w-lg h-72 rounded-full bg-highlight blur-2xl dark:block">
                        </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col px-10 pb-6 z-50">
                            <input type="range" id="song-percentage-played" class="amplitude-song-slider mb-3" step=".1" />
                            <div class="flex w-full justify-between">
                                <span class="amplitude-current-time text-xs font-sans tracking-wide font-medium text-sky-500 dark:text-sky-300"></span>
                                <span class="amplitude-duration-time text-xs font-sans tracking-wide font-medium text-gray-500"></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% module cares_about() %}
                <div>
                    <div class="ad" id="ad">
                        <div class="row left-share">
                        <div id="recommend-1" class="carousel slide">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#recommend-1" data-slide-to="0" class="active"></li>
                            <li data-target="#recommend-1" data-slide-to="1"></li>
                            <li data-target="#recommend-1" data-slide-to="2"></li>
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/static/media/recomment-1.png" alt="First slide">
                                <div class="carousel-caption">标题 1</div>
                            </div>
                            <div class="item">
                                <img src="/static/media/recomment-1.png" alt="Second slide">
                                <div class="carousel-caption">标题 2</div>
                            </div>
                            <div class="item">
                                <img src="/static/media/recomment-1.png" alt="Third slide">
                                <div class="carousel-caption">标题 3</div>
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="left carousel-control" href="#recommend-1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#recommend-1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    </div>
                        <div class="row left-share">
                            <div id="recommend-2" class="carousel slide">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    <li data-target="#recomment-2" data-slide-to="0" class="active"></li>
                                    <li data-target="#recommend-2" data-slide-to="1"></li>
                                    <li data-target="#recommend-2" data-slide-to="2"></li>
                                </ol>
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/static/media/recomment-2.png" alt="First slide">
                                        <div class="carousel-caption">标题 1</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/media/recomment-2.png" alt="Second slide">
                                        <div class="carousel-caption">标题 2</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/media/recomment-2.png" alt="Third slide">
                                        <div class="carousel-caption">标题 3</div>
                                    </div>
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="left carousel-control" href="#recommend-2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#recommend-2" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            </div>
                        </div>
                        <div class="row left-share">
                            <div id="advertise-1" class="carousel slide">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/static/media/advertise-1.png" alt="First slide">
                                        <div class="carousel-caption">标题 1</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/media/advertise-1.png" alt="Second slide">
                                        <div class="carousel-caption">标题 2</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/media/advertise-1.png" alt="Third slide">
                                        <div class="carousel-caption">标题 3</div>
                                    </div>
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="left carousel-control" href="#advertise-1" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#advertise-1" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            </div>
                        </div>
                        <div class="row left-share">
                            <div id="advertise-2" class="carousel slide">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                </ol>
                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="/static/media/advertise-2.png" alt="First slide">
                                        <div class="carousel-caption">标题 1</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/media/advertise-2.png" alt="Second slide">
                                        <div class="carousel-caption">标题 2</div>
                                    </div>
                                    <div class="item">
                                        <img src="/static/media/advertise-2.png" alt="Third slide">
                                        <div class="carousel-caption">标题 3</div>
                                    </div>
                                </div>
                                <!-- 轮播（Carousel）导航 -->
                                <a class="left carousel-control" href="#advertise-2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#advertise-2" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 main-content">
                {% block index_banner %}
                {% end %}
                {% block forum %}
                {% end %}
                {% block index_marquee %}
                {% end %}
                {% block mainbody %}
                    {% block typebody %}{% end %}
                {% end %}
            </div>
            <div class="col-xs-3 right" >
            <div class="row">
                <div class="text-center">
                    <p>
                        <span>User情報操作</span>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </p>

                </div>
                <div>
                    <div class="col-xs-6">昵稱: 尼安德特人</div>
                    <div class="col-xs-6">積分: 1299</div>
                </div>
                <div class="col-xs-6"><span>最新情報</span><span>12</span></div>
                <div class="col-xs-6">操作履歷</div>
            </div>
            {% block news_or_banner %}
            {% end %}
            {% block ninnki %}
            {% end %}
            <div class="row tag-cloud">
                <ul>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">tag<span>20</span></a></li>
                    <li><a href="#">consectetur adipisicing elit<span>20</span></a></li>
                </ul>
            </div>
        </div>
        </div>

    </div>
    <script src="/static/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>
    <script type="text/javascript">
        var ad = document.getElementById("ad")
        var adRow = ad.parentNode
        var width=ad.offsetWidth
        window.addEventListener("scroll", function(){
            var d0 = ad.offsetTop
            var d1 = $(document).scrollTop()
            var d2 = adRow.offsetTop

            var d =d1-d0
            var dd = d1-d2
            if(d>-10) {
                ad.className = 'ad2';
                if (dd < -10) {
                    ad.className = 'ad';
                }
            }
        })
    </script>
    <script type="text/javascript">
        $("#marquee").show().delay(20000).fadeOut();
    </script>
    <script src='/static/js/amplitude.js'></script>
    <script src="/static/js/script.js"></script>
</body>
</html>