{% extends "../theme/bage.html" %}
{% block news_or_banner %}
    <div class="row news-share">
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/static/media/banner-1.png" alt="First slide">
                    <div class="carousel-caption">标题 1</div>
                </div>
                <div class="item">
                    <img src="/static/media/banner-1.png" alt="Second slide">
                    <div class="carousel-caption">标题 2</div>
                </div>
                <div class="item">
                    <img src="/static/media/banner-1.png" alt="Third slide">
                    <div class="carousel-caption">标题 3</div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% end %}
{% block typebody %}
    <link rel="stylesheet" href="/static/font/iconfont.css" />
    <link rel="stylesheet" href="/static/css/article-detail/comment-sysbox.css" />
    <link rel="stylesheet" href="/static/css/article-detail/comment-css.css">
    <link rel="stylesheet" href="/static/css/article-detail/comment-table.css" />
	<link rel="stylesheet" href="/static/css/article/article.css" type="text/css">

    <script type="text/javascript" src="/static/js/systable3.1.js"></script>
    <style type="text/css">
        .pageModule{position: fixed;z-index: 1;width: 100%;}
        .leave-message{margin-top: 100px; min-height: 650px; background: #FFFFFF; padding: 15px;}
        .message-title{font-size: 16px; position: relative;z-index: 11;}
        .message-title span{background: #FFFFFF; padding: 0px 10px}
        .message-title:before{ width: 100%;position: absolute;z-index:-1;background: #1C77AC; height: 2px;content: "";left: 0px; top:0px; top:50%; margin-top: -1px;}
        .shuoming{font-size: 14px; line-height: 30px;border-right:1px solid #F2F2F2;min-height: 600px;}
        .messagecontent{background: #FFFFFF; padding: 15px; border-radius: 5px; margin: 0 auto; width: 100%; border: 1px solid #DDDDDD;}
        .messagetitle{  height: 40px; line-height: 40px;font-size: 15px; margin-bottom: 10px; background: #F2F2F2; padding-left:10px;}
        .messagelist .messagetime{color: #999999; margin-left: 10px;position: absolute;z-index: 11;right: 10px;top:0px}
        .messagelist .messageinfo{ padding: 5px 0px; line-height:20px; color: #707070;}
        .messagename{color: #000000; font-weight: bold;font-size: 13px; padding:0px 5px;}
        .messageChild{background: #F2F2F2; padding: 10px; color: #333333;border-radius: 5px;}
        .titleImg{width: 40px; height: 40px;float: left; margin-right: 10px; margin-top: 10px;border-radius: 50%;overflow: hidden;}
        .child-info,
        .rightinfo{position:relative;z-index: 11; width: 100%;top:10px;left: 0; padding-left:50px;}
        .titleImg img{width: 100%; height: 100%; }
        .state-child{position: relative;z-index: 1; margin-bottom: 10px;border-bottom: 1px solid #FFFFFF;padding-bottom: 10px;}
        .child-title{font-weight: bold; color: #000000;}
        .messagecomment{position: relative;z-index: 1;padding: 10px 0;}
        .child-content{ padding-bottom: 10px;}
        .messagecontent .sys-tree-grade{border-top: 1px solid #DDDDDD;margin-left: 0px!important;}
        .messagelike{float: right; margin-right: 10px;}
    </style>
    <div class="row">
        <div class="col-xs-12">
                        <div class="row title">
                            <h2>Title</h2>
                        </div>
                        <div class="banner">
                            <img src="/static/media/article-banner.png" style="height: 180px; width: 100%" alt="">
                        </div>
                        <div class="row author">
                            作者: 尼安德特人 ; 發行時間: 2022年7月31日
                        </div>
                        <div class="row">
                            標簽: <span><a href="/label/1/rgyk">历史</a></span>; <span><a href="/label/1/rgyk">文化</a></span>; <span><a href="/label/1/rgyk">艺术</a></span>
                        </div>
                        <div class="row">
                            <span>收藏</span>
                            <span>喜欢</span>
                            <span>转发</span>
                        </div>
                        <div class="row">
                            <div class="article-detail">
                                <p>
赶不完的进度，做不完的工作，开不完的会......对项目经理来说，时间似乎永远不够用。项目经理作为团队 leader ，要深谙时间管理的流程方法，才能避免浪费组织的时间和资源，成为优秀的项目经理。
                                </p>
                                <p>
项目管理过程中，实现项目的最终交付，大概是项目经理的终极目标。但项目执行过程中，往往会因或大或小的突发问题，导致项目的延期。任何一个项目都无法回避最终交付日期，并且所有的活动都严格围绕时间坐标进行。因此，对项目进行合理的时间管理，才是保证项目顺利交付的关键。那么，如何才能做好项目时间管理呢？
                                </p>
                                <p>
定义项目范围，注重分解工作项目范围如果不能在初期清晰定义，将会给后续项目开展带来困惑，严重的还能导致项目失败。因此，对项目进行定义是首要解决的问题，项目正式进行前，就要考虑诸多因素，要对项目范围、主体计划等，做出明确的界定。对项目范围定义后，最重要的一项工作是对项目任务进行细化和分解，将它分解为更小、更易管理的工作包，这些小的活动都是确保完成交付产品的、可实施的详细任务。我们可以借鉴以下三种方法：第一 结构化分解方法
                                </p>
                                <p>
                                    工作分解结构法（ Work Breakdown Structure，缩写：WBS ）是一个描述思路的规划和设计的工具，它以项目结果为导向，将抽象的概念或任务分解成具体工作。
                                </p>
                                <p>
                                    它是一个有拆有合的过程，拿工程技术系统来说，按照规则可分解成子系统、功能区和专业三大块；项目的目标系统可以分解成系统目标、子目标、可执行目标；项目的总成本分解为相关成本要素；此外，组织系统、管理信息系统也都可以再进行结构分解。这些过程是项目能否成功交付的关键要素。
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <span><a href="">回复</a></span>
                            <span>|</span>
                            <span><a href="">追记</a></span>
                            <span>|</span>
                            <span><a href="">喜欢</a></span>
                            <span>|</span>
                            <span><a href="">收藏</a></span>
                            <span>|</span>
                            <span><a href="">转发</a></span>
                        </div>
                        <div class="row zhuiji-detail">
                            <h4>
                                追記
                            </h4>
                            <div class="comments-container">
                                <ul id="comments-list" class="comments-list">
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name by-author"><a href="www.bootstrapmb.com">Agustin Ortiz</a></h6>
                            <span>hace 20 minutos</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://www.bootstrapmb.com">Lorena Rojero</a></h6>
                            <span>hace 10 minutos</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                </div>
            </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <h4>
                                留言
                            </h4>
                                <div class="messagecontent">
                                    <div class="messagetitle">用户留言</div>
                                    <div id="newmessagelist">
                                        <div class="messagelist" id="messagelist" sys-parameter="id,pid,grade">
                                            <div class="messagecomment ptb15" data-tree="Plate">
                                                <div class="clearfix mb10 relative">
                                                    <div class="state-key titleImg" data-value="titleImg" data-format="img" ></div>
                                                    <div class="rightinfo">
                                                        <h4 class="messagename state-key iconfont" data-value="user_name"></h4>
                                                        <span class="messagetime ">留言时间：<span class="state-key" data-value="date_time" data-format="time"></span></span>
                                                        <div class="messageinfo state-key" data-value="content"></div>
                                                        <div class="messageoperate clearfix">
                                                            <a href="#" class="state-key messagelike" data-value="id,user_name" data-url="address" data-click="boxclick(this)">点赞(<span class="state-key" data-value="like"></span>)</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Paging" id="pagination"></div>
                                </div>
                        </div>
                    </div>
    </div>
	<script type="text/javascript">
		new SYSTableSorter({
					TableName: 'newmessagelist', //表格区域
					btnArea:null, //按钮区域
					paginName: ["#pagination"], //分页区域
					curPage: 1, //默认页
					edit: 'messagelist', //编辑区
					mobile: false, //是否启用移动模式
					btnpageing: 5, //用于显示分页列表按钮数量
					setItem: 'messageLists',
					SearchSave:false,//是否启用搜索后刷新界面依然保持搜索结果内容s
					pageSize: [20], //设置每页显示条数
					TreeStatus: true, //是否启用树状图结构
					treeCompose:false,
					treeArrowSite:1,
					RightClick: false, //右键禁用
					mode: 'templet', //模式
					mobBackdrop: '<span class="backgrodstyle"><img src="/static/images/backgrod.png"></span>',
					loading: '<div class="loading-prompt"><img src="/static/images/timg.gif" style="width:45px;height:45px"></div>', //加载样式设置
					CustomName: 'messagecomment', //当mode参数为templet时设置自定义class
					CustomKey: 'state-key', //当mode参数为templet时设置自定义class
					timeFormat: 'yyyy-MM-dd hh:mm:ss', //时间显示格式
					Callback: function(eve, index, curPage, pageSize, name) {
						 index.ajaxGet("/static/json/message.json", null, curPage, pageSize, eve, name, true);
					},
					SpreadEvent:function(_this,JsonStr,Table,eve,customize,curPage, pageSize,name){
						var code=JsonStr.code;//判断状态
						var data=JsonStr.data;//用户需要展示的数据集，如果有多层关系直接一级一级往下找到相应的名称
						_this.$("#pagination").innerHTML="";
						if(code==0){
							if(data==null){
							 	_this.$(".messagelist").innerHTML="<div class='sys-prompt'>没有你要找的内容！</div>"
							}else{
							 	var list=data;
								var totalElements=parseInt(JsonStr.total); //根据json中的对象名称定义
								var totalPahes=Math.ceil(JsonStr.total/pageSize);//根据json中的对象名称定义
								_this.contenthtml(Table,list,_this,curPage,pageSize,name,null,customize,totalElements,totalPahes);
								_this.$(".messagecontent").style.display="block";
								//这里做html优化处理，我这里用评价处理
								var childlist=_this.getElementsByClassName(Table,"messagecomment");
								var childmun=10;//设置等级的数量
								for(var c=0;c<childlist.length;c++){
									for(var m=0;m<childmun;m++){
										if(_this.hasClass(childlist[c],"child"+m)){
										childlist[c].style.marginLeft=50*m+'px'
										}
									}
								}
							}
						}else{
							if(data!=undefined){
								_this.$(".messagelist").innerHTML="<div class='sys-prompt'>没有你要找的内容！</div>"
							}
						}
					},
					//自定义按钮操作事件方法
					OperationEventSet:function(table,index,obj,dataSet){

					}
			    });
		function boxclick(obj,id){
			alert("这里处理你的点击事件")

		}
	</script>
{% end %}
