.diy-container .row {
    margin-top:8px;
    margin-left:-5px;
    margin-right:-5px;
    background-color: #fff;
}
.diy-container .more2less {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 0px;
}
.diy-container .post-detail {
    margin-left: 40px;
    font-size: 12px;
    margin-right: 0px;
}
.diy-container .author-detail {
    font-size: 12px;
}
.author {
    font-size: 10px;
}
.diy-container .more2less a {
    cursor:pointer;
}
.diy-container .title {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px
}
.diy-container .index-details {
    height: auto;
    text-align: left
}
.diy-container .index-details p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.container .main-content {
    margin-left:-10px;
    margin-right:-10px;
}
.main-content .alert {
    margin-bottom: 0px;
}
.diy-container {
    width: 88%;
}
.container .list-group {
    margin-bottom: 0px;
}

.diy-container .weather-background {
    background-color: #26c6da;
}

.diy-container .carousel {
    height: auto;
    margin-bottom: 0px;
}
.diy-container .banner .carousel .item {
    height: 260px;
}
.diy-container .banner .carousel-inner>.item>img {
    height: 260px;
    top: 0px;
}
.diy-container .carousel-control.right {
    background-image: none;
}
.row.body-container .col-xs-3.right {
    padding-right: 0px;
}
.diy-container .carousel-control.left {
    background-image: none;
}
.diy-container .search {
    padding-left:2px;
    padding-right:2px;
    background-color: #fafafa;
    color: #555;
}

.body-style {
    background-color: #333F4F
}
.diy-container .news-share .carousel .item {
    height: 160px;
}
.diy-container .news-share {
    height: 160px;
    border-radius: 3%;
}
.diy-container .news-share .carousel-inner>.item>img {
    height: 160px;
    top: 0px;
}
.ad .left-share {
    border-radius: 2%;
}
.left-share .carousel .item {
    height: 160px;
}
.left-share .carousel-inner>.item>img {
    top: 0px;
    height: 160px;
}
.diy-container .ad2 {
    background-color: #111111;
    position: fixed;
    top: 10px;
    width: 289px;
}
.diy-container .paginat {
    text-align: center;
}
.diy-container .nav-container {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0);
}

.diy-container .nav-container .navbar.navbar-default {
    margin-bottom: 0px;
}

.diy-container .body-container {
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(0,0,0,0);
}
.distance-left {
    padding-left: 5%;
}
.distance-right {
    padding-left: 5%;
}
.index-search {
    margin-top: 8px;
    width: 220px;
}
.index-search-button {
    margin-top: 8px;
}
.icon-style {
    /*color: #50a6fe;*/
}
.distance-left li a {
    padding-top: 11px;
    padding-bottom: 8px;
}
.distance-left li:nth-child(5) a {
    padding-top: 13px;
}
.plate {
    width: 11.66%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 8px;
    margin-bottom: 8px;
    position:relative;
    height: 0;
    border-radius: 50%;
    padding:11.66% 0 0;
    text-align:center;
}

.plate span {
    position: absolute;
    top: 30%;
    left: 27%;
    font-size:1.3em;
}
.search-div div.row h4 {
    margin-left: 1rem;
}
.search-div div.row .search-pane {
    padding: 10px 0
}
.search-div div.row div.col-xs-4 {
    padding-left: 0px;
    padding-right: 0px;
}
.search-div .row.search-detail h4 {
    margin-left: 0px;
}
.search-div div.search-detail {
    padding: 10px 0;
    word-wrap: break-word;
    word-break: break-all;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid blue;
    padding-bottom: 1rem;
    height: 15rem;
}
.care-about {
    margin-left: 1rem;
}
.author-avatar {
    width: 10%;
    height: auto;
}
.author-avatar img {
  border-radius: 50%;
}
.author-name {
    padding: 1% 0;
}
#questions div.row {
    margin-left: 5px;
    margin-right: 5px;
}
div.row.question-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;

    margin-top: 15px;
    margin-bottom: 15px;
}
div.question-card div.row {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
div.question-card {
    margin-top: 4rem;
    border-top: 1px solid #000;
}
div.row.descriptions {
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
div.row.question-components {
    text-align: right;
}
div.row.question-components span {
    margin-right: 2rem;
}
