.personal-container {
    width: 88%;
    margin-top: 8px;
}

.personal-backgroud {
    width: 100%;
    height: 320px;
    margin-top: 10px;
    border-radius: 6px;
}
.personal-backgroud .row {
    margin-left: 0px;
    margin-right: 0px;
}
.personal-container .navbar.navbar-default {
    margin-bottom: 10px;
}
.personal-container .row {
    margin-left: 0px;
    margin-right:0px;
}
.personal-container .banner {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0);
}
.personal-container .select-tab {
    margin-top: 30px;
}
.body-style {
    background-color: #333F4F
}
.personal-container .avatar-img {
    margin-top: 20px;
}
.personal-container .profile1 {
    margin-top: 20px;
}
.personal-container .profile2 {
    margin-top: 20px;
    color: #222222;
}
.personal-container .right {
    margin-top: 0px;
    padding-left: 5px;
}
.personal-container .right div.row {
    background-color: #fff;
    /* margin-right: 10px;*/
    color: #222222;
    font-size: 14px;
}

.personal-container .right div.row {
    margin-top: 10px;
}
//.personal-container .right div.row:not(:first-child) {
//    margin-top: 10px;
//}

.personal-container .left .card{
    background-color: #fff;
    margin-left: -15px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #000;
    border-radius: 6px;
}
.personal-container .col-xs-4.right div.row{
    border-radius: 6px;
}
.personal-container .col-xs-4.right div.row h5{
    margin-left: 1rem;
}
.personal-container .left .card .details {
    height: 12rem;
    word-wrap:break-word;
    word-break:break-all;
    margin-right: 10px;
    font-size: 14px;
}
.personal-container .left .card .thumbs {
    margin-top: 1rem;
}
.personal-container .left .recent{
    margin-left: 15px;
}
.row.simple {
    background-color: #f5f5f5;
    margin-left: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}
.personal-rows .row.info-left {
    margin-left:-5px;
}
.personal-rows .row.info-right {
    margin-right: 5px;
    border-radius: 6px;
}
.personal-rows.row {
    margin-left: 10px;
}
.personal-container .left .simple {
    margin-top: 10px;
    margin-bottom: 10px;
}
.personal-container .right span.down-top {
    margin-top: 9%;
}
.personal-container .panel-body.right-list {
    padding-left:0px;
    padding-right:0px;
}
margin-top: 9%;
.personal-container .activitys {
    margin-left: 10px;
}
.row.select-main {
    margin-left:-10px;
    margin-right:-10px;
}
.personal-container .activitys ul {
    margin-left: 10px;
}
.personal-container .activitys ul li {
    margin-top: 10px;
}
.personal-container .regist {
    color: #555;
}
.distance-left {
    padding-left: 5%;
}
.distance-right {
    padding-left: 5%;
}
.index-search {
    margin-top: 8px;
    width: 220px;
}
.index-search-button {
    margin-top: 8px;
}
.icon-style {
    /*color: #50a6fe;*/
}
.distance-left li a {
    padding-top: 11px;
    padding-bottom: 8px;
}
.distance-left li:nth-child(5) a {
    padding-top: 13px;
}