{% extends "../theme/bage.html" %}
{% block head %}
<script type="text/javascript">
    $().ready(function () {
        $("#form_regist").validate(
                {
                    rules: {
                        user_name: {
                            required: true,
                            rangelength: [5, 16]
                        },
                        user_pass: {
                            required: true,
                            rangelength: [8, 20]
                        },
                        user_pass2: {
                            required: true,
                            equalTo: "#user_pass"
                        },
                        nick_name: {
                            required: true,
                            rangelength: [2, 24]
                        },
                        introduction: {
                            required: true,
                            rangelength: [2, 50]
                        },
                        user_email: {
                            email: true
                        }
                    },
                    messages: {
                        user_name: {
                            required: "<span class='red'>Please enter your user name</span>",
                            rangelength: "<span class='red'>The user name for at least five, up to 16</span>"
                        },

                        user_pass: {
                            required: "<span class='red'>Please enter the password</span>",
                            rangelength: "<span class='red'>Password for at least six, up to 20 </span>"
                        },
                        user_pass2: {
                            required: "<span class='red'>Please enter the password</span>",
                            equalTo: "<span class='red'>Enter the password twice</span>"
                        },
                        user_email: {
                            email: "<span class='red'>Please enter a correct E-mail</span>"
                        },
                        nick_name: {
                            required: "<span class='red'>Please enter your nick name</span>",
                            rangelength: "<span class='red'>Nick Name for at least 2, up to 50</span>"  
                        },
                        introduction: {
                            required: "<span class='red'>Please enter your introduction</span>",
                            rangelength: "<span class='red'>Introduction for at least 2, up to 50</span>"   
                        }
                    }
                }
        );

        $("div.modal-body img").click(function(){
            $("div.modal-body img").removeClass("selected-img")
            $(this).addClass('selected-img');
        })

        $("button#avatarSub").click(function(){
            let selectedImg = $("div.modal-body img.selected-img");
            $("img#img-avatar").attr("src", selectedImg.attr("src"));
            var path = selectedImg.attr("src").split("/")[selectedImg.attr("src").split("/").length-1];
            $("#user_avatar").val(path);
            $(this).prev().click();
        })
        $("button#next").click(function(){
            var inputs = $("div#page1 input.form-control");
            var page1f = true
            for (let i =0; i<inputs.length ; i++) {
                let vaa = $(inputs[i]).val();
                if (!vaa) {
                    page1f = false
                }
            }
            if (page1f) {
                $("div#page1").css("display", "none");
                $("div#page2").css("display", "");
                $("div#page3").css("display", "none");
                $("div#recomfirm-div").css("display", "none")
                $("div#settings-div").css("display", "")
            }
        })
        $("button#previous-page").click(function() {
            $("div#page1").css("display", "");
            $("div#page2").css("display", "none");
            $("div#page3").css("display", "none");
            $("div#recomfirm-div").css("display", "none")
            $("div#settings-div").css("display", "")
        })
        $("button#reconfirmation").click(function() {
            $("div#page1").css("display", "none");
            $("div#page2").css("display", "none");
            $("div#page3").css("display", "");
            $("div#recomfirm-div").css("display", "");
            $("div#settings-div").css("display", "none");
            let arrayData = $('form#form_regist').serializeArray();
            for (itemIndex in arrayData) {
                if (arrayData[itemIndex].name == "user_avatar") {
                    if (arrayData[itemIndex].value) {
                        let imagPath = "/static/images/avatars/" + arrayData[itemIndex].value;
                        $("#reconfirm_"+arrayData[itemIndex].name).append("<img src='"+imagPath+"' />");
                    }
                } else if (arrayData[itemIndex].name == "user_sex") {
                    let sexArray = {
                        0: "",
                        1: "Man",
                        2: "Female"
                    }
                    $("#reconfirm_"+arrayData[itemIndex].name).text(sexArray[arrayData[itemIndex].value]);
                } else if (arrayData[itemIndex].name == "user_profession") {
                    let professionArray = {
                       0: "", 
                       1: "Student", 
                       2: "office worker", 
                       3: "Freelancer", 
                       4: "Housewife", 
                       5: "President", 
                    }
                    $("#reconfirm_"+arrayData[itemIndex].name).text(professionArray[arrayData[itemIndex].value]);
                } else if (arrayData[itemIndex].name == "interest") {
                    let interestArray = {
                       1: "japanese", 
                       2: "friends", 
                       3: "liuxue", 
                       4: "sports", 
                       5: "foods", 
                       6: "music", 
                    }
                    let selectedArray = arrayData[itemIndex].value.split(",");
                    selectedString = ""
                    for (selectedIdx in selectedArray) {
                        let selectedId = selectedArray[selectedIdx];
                        let interestSingle = interestArray[selectedId];
                        if (selectedIdx != selectedArray.length-1) {
                            selectedString += interestSingle + "; ";
                        } else {
                            selectedString += interestSingle;
                        }
                    }
                    $("#reconfirm_"+arrayData[itemIndex].name).text(selectedString);
                } else {
                    $("#reconfirm_"+arrayData[itemIndex].name).text(arrayData[itemIndex].value);
                }
            }
        })
        $("button#re-turn-page1").click(function() {
            $("div#page1").css("display", "");
            $("div#page2").css("display", "none");
            $("div#page3").css("display", "none");
            $("div#recomfirm-div").css("display", "none")
            $("div#settings-div").css("display", "")
        })
        $("button#cancel-regist").click(function(){
            $(location).attr("href","/")
        })
        $("button#sub-cancel").click(function(){
            $(location).attr("href","/")
        })
        $("div.interest-check input").click(function(){
            obj = document.getElementsByName("interests");
            check_val = [];
            for (k in obj) {
                //判断复选框是否被选中
                if (obj[k].checked)
                    //获取被选中的复选框的值
                    check_val.push(obj[k].value);
            }
            $("input#interest").val(check_val.toString())
        })
    });
</script>
<style>
    .red {
        color: red;
        font-weight: 400;
        font-size: 12px;
    }
    img#img-avatar {
        width: 35%;
        border-radius: 12px;
    }
    span#reconfirm_user_avatar img {
        width: 15%;
        border-radius: 12px;
    }
    div.modal.fade div.row div {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    div.modal.fade div.row div img {
        width: 95%;
    }
    div.modal.fade li {
        list-style:none;
        display: inline-block;
        width: 10%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    div.form-group.avatar-group label, div {
        vertical-align: middle;
    }
    .avatar-dom {
        margin-top: 1.5rem;
    }
    img.selected-img {
        border: 4px solid #05c6fe;
        border-radius: 8px;
    }
    .form-group .row {
        margin-left: 2%;
        margin-right: 2%;
    }
    .form-group .row button.btn-primary {
        background-color: #337ab7;
    }
    div.submit-div {
        width: 100%;
        text-align: center;
    }
    .mt-0 .list-group-item-primary {
        background-color: #3498db;
    }
    div.recap {
        width: 100%;
    }
    div.g-recaptcha div {
        margin:0 auto;
    }
</style>
{% end %}
{% block typebody %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Select Avatar
                </h4>
            </div>
            <div class="modal-body">
                <ul>
                    {% for item in avatars %}
                    <li>
                        <div class="text-center">
                            <img src="/static/images/avatars/{{ item.avatar_path }}" alt="">
                        </div>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close
                </button>
                <button type="button" id="avatarSub" class="btn btn-primary">
                    submit
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row regist">
    <div class="panel panel-black">
    <div class="panel-heading" id="settings-div"><b>{{ _('User Identity Setting') }} </b></div>
    <div class="panel-heading" id="recomfirm-div" style="display: none;"><b>{{ _('User Setting Recomfirm') }} </b></div>
    <div class="panel-body">
        <form id="form_regist" action="/user/regist" method="post" class="form-horizontal" role="form">
            <fieldset>
                <div id="page1">
                    <div class="form-group avatar-group">
                        <div class="row">
                            <label class="control-label avatar-dom" for="user_name">{{ _('User avatar') }}： </label>
                        </div>
                        <div class="row">
                            <div class="avatar col-sm-4">
                                <img id="img-avatar" src='/static/images/avatars/default.png'
                                />
                            </div>
                            <div class="random avatar-dom col-sm-8">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    select Avatar
                                </button>
                            </div>
                        </div>
                        <input class="form-control" style="display: none;" id='user_avatar' type="text" name="user_avatar">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="user_name">{{ _('User Account') }}： </label>
                        </div>
                        <div class="row">
                            <input class="form-control" id='user_name' type="text" name="user_name"
                                   placeholder="User name must be alphabetic or alphanumeric combination (letter).">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-2 control-label" for="user_pass">{{ _('Password') }}：</label>
                        </div>
                        <div class="row">
                            <input class="form-control" id="user_pass" type="password" name="user_pass"
                                   placeholder="Password at least 6, the longest 20. ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="user_pass2">{{ _('Confirm password') }}：</label>
                        </div>
                        <div class="row">
                            <input class="form-control" id="user_pass2" type="password" name="user_pass2"
                                   placeholder="Please confirm and password input. ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="nick_name">{{ _('Nick Name') }}：</label>
                        </div>
                        <div class="row">
                            <input class="form-control" id="nick_name" type="text" name="nick_name"
                                   placeholder="Please input yout nick name. ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="introduction">{{ _('Introduction') }}：</label>
                        </div>

                        <div class="row">
                            <input class="form-control" id="introduction" type="text" name="introduction"
                                   placeholder="Please input yout introduction. ">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="submit-div">
                                    <button id="sub-cancel" type="button" class="btn btn-warning">{{ _('Cancel') }}</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="submit-div">
                                    <button id="next" type="button" class="btn btn-primary">{{ _('Next') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page2" style="display: none;">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="user_sex">{{ _('User email') }}： </label>
                        </div>
                        <div class="row">
                            <input
                                    class="form-control"
                                    id="user_email"
                                    type="email"
                                    name="user_email"
                                    placeholder="Please enter a correct E-mail." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="user_sex">{{ _('User Sex') }}： </label>
                        </div>
                        <div class="row">
                            <select class="form-control" id='user_sex' name="user_sex">
                                <option value="0">---</option>
                                <option value="1">Man</option>
                                <option value="2">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label" for="user_age">{{ _('Age') }}：</label>
                        </div>
                        <div class="row">
                            <input class="form-control" id="user_age" type="text" name="user_age"
                                   placeholder="Just allowed number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="user_profession">{{ _('User Profession') }}：</label>
                        </div>
                        <div class="row">
                            <select class="form-control" id='user_profession' name="user_profession">
                                <option value="0">-------</option>
                                <option value="1">Student</option>
                                <option value="2">office worker</option>
                                <option value="3">Freelancer</option>
                                <option value="4">Housewife</option>
                                <option value="5">President</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label">{{ _('Intersts') }}：</label>
                        </div>
                        <div class="row">
                            <div class="form-check interest-check">
                              <input class="form-check-input" name="interests" type="checkbox" value="1" id="japanese">
                              <label class="form-check-label" for="japanese">
                                日语
                              </label>
                              <input class="form-check-input" name="interests" type="checkbox" value="2" id="friends">
                              <label class="form-check-label" for="friends">
                                交友
                              </label>
                              <input class="form-check-input" name="interests" type="checkbox" value="3" id="liuxue">
                              <label class="form-check-label" for="liuxue">
                                留学
                              </label>
                              <input class="form-check-input" name="interests" type="checkbox" value="4" id="sports">
                              <label class="form-check-label" for="sports">
                                运动
                              </label>
                              <input class="form-check-input" name="interests" type="checkbox" value="5" id="foods">
                              <label class="form-check-label" for="foods">
                                美食
                              </label>
                              <input class="form-check-input" name="interests" type="checkbox" value="6" id="music">
                              <label class="form-check-label" for="music">
                                音楽
                              </label>
                            </div>
                            <input style="display: none;" class="form-control" id="interest" type="text" name="interest">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="birth_place">{{ _('Birth place') }}：</label>
                        </div>
                        <div class="row">
                            <input class="form-control" id="birth_place" type="text" name="birth_place"
                                   placeholder="birth place">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="location">{{ _('Location Now') }}：</label>
                        </div>
                        <div class="row">
                            <input class="form-control" id="location" type="text" name="location"
                                   placeholder="location">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label class="control-label" for="profile_text">{{ _('Personal Profile・Comments') }}：</label>
                        </div>
                        <div class="row">
                            <textarea name="profile_text" id="profile_text" cols="50" rows="10" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="display: none" for="sub1"></label>
                        <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="submit-div">
                                    <button id="previous-page" type="button" class="btn btn-warning">{{ _('Previous') }}</button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="submit-div">
                                    <button id="reconfirmation" type="button" class="btn btn-primary">{{ _('Reconfirm') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="page3" style="display: none;">
                    <div class="row">
                        將使用以下的資訊進行用戶創建，請在確認無誤後點下"登錄"或點下"返回"進行修正。
                    </div>
                    <div class="row">
                        選擇頭像
                    </div>
                    <div class="row">
                        <span id="reconfirm_user_avatar"></span>
                    </div>
                    <div class="row">
                        登入帳號: <span id="reconfirm_user_name"></span>
                    </div>
                    <div class="row">
                        登入密碼: <span id="reconfirm_user_pass"></span>
                    </div>
                    <div class="row">
                        暱稱: <span id="reconfirm_nick_name"></span>
                    </div>
                    <div class="row">
                        對自己的描述: <span id="reconfirm_introduction"></span>
                    </div>
                    <div class="row">
                        聯絡信箱: <span id="reconfirm_user_email"></span>
                    </div>
                    <div class="row">
                        性別: <span id="reconfirm_user_sex"></span>
                    </div>
                    <div class="row">
                        年齡: <span id="reconfirm_user_age"></span>
                    </div>
                    <div class="row">
                        身分: <span id="reconfirm_user_profession"></span>
                    </div>
                    <div class="row">
                        有興趣或愛好的相關話題
                        <span id="reconfirm_interest"></span>
                    </div>
                    <div class="row">
                        出身地
                        <span id="reconfirm_birth_place"></span>
                    </div>
                    <div class="row">
                        所在地
                        <span id="reconfirm_location"></span>
                    </div>
                    <div class="row">
                        個人簡介・雜談
                        <span id="reconfirm_profile_text"></span>
                    </div>
                    <div class="row">
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
                        <div class="recap">
                            <form action="?" method="POST">
                                <div 
                                class="g-recaptcha" 
                                data-sitekey="6LdqDJEhAAAAAJmC1njGmzwShiEoZZBsMONrHhgR"
                                data-callback="verify"
                                data-expired-callback="expired"
                                data-error-callback="error"
                                >
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="submit-div">
                                <button id="re-turn-page1" type="button" class="btn btn-warning">{{ _('返回') }}</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="submit-div">
                                <button id="cancel-regist" type="button" class="btn btn-warning">{{ _('取消') }}</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="submit-div">
                                <button id="sub1" type="submit" class="btn btn-primary">{{ _('登錄') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>
{% end %}

