{% extends "../theme/personal.html" %}
{% block head %}
<title>{{ _('User List') }}</title>
<meta name="description" content="{{ _('User List') }}">
<meta name="keywords" content="{{ _('User List') }}">

{% end %}
{% block typebody %}
    <div class="col-xs-8 left">
        <div class="row simple">
            <span class="recent"><b>Recent</b></span>
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </div>
        <div class="card">
            <div class="row">
                <h4>Title</h4>
            </div>
            <div class="row details">
                <p>
                    detailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetails
                </p> 
            </div>
            <div class="row">
                <div class="col-xs-3">
                    views number: 101
                </div>
                <div class="col-xs-3">
                    last view time: 2022/07/30
                </div>
            </div>
            <div class="row thumbs">
                <div class="col-xs-3">
                    <a href="">Answer</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Forward</a>
                </div>
                <div-col-xs-3>
                    <a href="">Focus</a>
                </div-col-xs-3>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <h4>Title</h4>
            </div>
            <div class="row details">
                <p>
                    detailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetails
                </p> 
            </div>
            <div class="row">
                <div class="col-xs-3">
                    views number: 101
                </div>
                <div class="col-xs-3">
                    last view time: 2022/07/30
                </div>
            </div>
            <div class="row thumbs">
                <div class="col-xs-3">
                    <a href="">Answer</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Forward</a>
                </div>
                <div-col-xs-3>
                    <a href="">Focus</a>
                </div-col-xs-3>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <h4>Title</h4>
            </div>
            <div class="row details">
                <p>
                    detailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetails
                </p> 
            </div>
            <div class="row">
                <div class="col-xs-3">
                    views number: 101
                </div>
                <div class="col-xs-3">
                    last view time: 2022/07/30
                </div>
            </div>
            <div class="row thumbs">
                <div class="col-xs-3">
                    <a href="">Answer</a>
                </div>
                <div class="col-xs-3">
                    <a href="">Forward</a>
                </div>
                <div-col-xs-3>
                    <a href="">Focus</a>
                </div-col-xs-3>
            </div>
        </div>
    </div>
    <div class="col-xs-4 right">
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                            href="#collapseOne"> Friends Messages
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body right-list">
                            <ol>
                                <li class="list-group-item"><span>. </span>Cras justo odio</li>
                                <li class="list-group-item"><span>. </span>Dapibus ac facilisis in</li>
                                <li class="list-group-item"><span>. </span>Morbi leo risus</li>
                                <li class="list-group-item"><span>. </span>Porta ac consectetur ac</li>
                                <li class="list-group-item"><span>. </span>Vestibulum at eros</li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                            href="#collapseTwo">Post Notifications
                        </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body right-list">
                        <ol class="list-group">
                            <li class="list-group-item"><span>. </span>Cras justo odio</li>
                            <li class="list-group-item"><span>. </span>Dapibus ac facilisis in</li>
                            <li class="list-group-item"><span>. </span>Morbi leo risus</li>
                            <li class="list-group-item"><span>. </span>Porta ac consectetur ac</li>
                            <li class="list-group-item"><span>. </span>Vestibulum at eros</li>
                        </ol>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" 
                            href="#collapseThree">QA Notifications
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body right-list">
                            <ol class="list-group">
                                <li class="list-group-item"><span>. </span>Cras justo odio</li>
                                <li class="list-group-item"><span>. </span>Dapibus ac facilisis in</li>
                                <li class="list-group-item"><span>. </span>Morbi leo risus</li>
                                <li class="list-group-item"><span>. </span>Porta ac consectetur ac</li>
                                <li class="list-group-item"><span>. </span>Vestibulum at eros</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/a11y-accordion-tabs.min.js"></script>
{% end %}
