<html>
    <head>
        <link rel="stylesheet" href="/static/f2elib/bootstrap_3.3.7/css/bootstrap.min.css?v=4056508074c098e63356f88b53f8abdacae6bdd46e76e79028505be5d94ed6ec9cc6513ce2dbd1b398b23649a0e260f989b28669594df847daf3010fe296fe5d">
        <style>
            div.row div {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        
            div.row div img {
                width: 95%;
            }
            li {
                list-style:none;
                display: inline-block;
                width: 10%;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="picNewsContent">
                <ul>
                    {% for item in avatars %}
                    <li>
                        <div class="text-center">
                            <img src="/static/images/avatars/{{ item.avatar_path }}" alt="">
                        </div>
                    </li>
                    {% end %}
                </ul>

            </div>
        </div>
    </body>
</html>

