{% extends "../theme/personal.html" %}
{% block head %}
<title>{{ _('User List') }}</title>
<meta name="description" content="{{ _('User List') }}">
<meta name="keywords" content="{{ _('User List') }}">

{% end %}
{% block typebody %}
    <div class="row select-main">
        <div class="col-xs-8 left">
            <div class="row info-left">
                <div class="personal-backgroud" style="background-image: url('/static/upload/personal1.png')">
                    <div class="col-xs-8">
                        <div class="row"></div>
                        <div class="row"></div>
                    </div>
                    <div class="col-xs-8">
                        <div class="row profile1">
                            <h2>个人简介</h2>
                        </div>
                        <div class="row profile2">
                            个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个
                            人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人
                            简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简
                            介个人简介个人简介个人简介个人简介个人简介
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="avatar-img">
                            <img src="/static/upload/avatar1.jpg" alt="" width="150px" class="img-circle">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row select-tab info-left">
                <section class="accordion-tabs js-tabs" data-tabs-allowed="true" data-breakpoint="400" data-start-collapsed="false">
                    <ul role="tablist" class="tabs-tab-list">
                        <li role="presentation"><a id="tab1" href="#section1" role="tab" aria-controls="section1" aria-selected="true" class="tabs-trigger js-tabs-trigger">Profile</a></li>
                        <li role="presentation"><a id="tab2" href="#section2" role="tab" aria-controls="section2" class="tabs-trigger js-tabs-trigger">Answer</a></li>
                        <li role="presentation"><a id="tab3" href="#section3" role="tab" aria-controls="section3" class="tabs-trigger js-tabs-trigger">追记</a></li>
                        <li role="presentation"><a id="tab4" href="#section3" role="tab" aria-controls="section3" class="tabs-trigger js-tabs-trigger">Question</a></li>
                        <li role="presentation"><a id="tab5" href="#section3" role="tab" aria-controls="section3" class="tabs-trigger js-tabs-trigger">Post</a></li>
                        <li role="presentation"><a id="tab6" href="#section3" role="tab" aria-controls="section3" class="tabs-trigger js-tabs-trigger">Follwers</a></li>
                    </ul>
                    <section id="section1" role="tabpanel" aria-labelledby="tab1" class="tabs-panel js-tabs-panel" tabindex="0">
                        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="section1" aria-expanded="true" tabindex="0">
                            Profile <div class="accordeon-trigger-icon">
                                <span class="label--open">Open</span><span class="label--close">Close</span>
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                                    <rect class="vert" height="18" width="2" fill="currentColor" y="1" x="9"></rect>
                                    <rect height="2" width="18" fill="currentColor" y="9" x="1"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="content" aria-hidden="false">
                            <h2>Profile</h2>
                            <p>Cum prefrontal cortex horribilem walking fornix dead resurgere brains de crazed limbic cortex optic nerve sepulcris creaturis, braaaaaiins zombie sicut hypothalamus de <a href="#">grave hippocampus feeding</a> iride brainz et serpens. Pestilentia, pitiutary gland shaun ofthe optic gland dead scythe brains animated corpses spinal cord ipsa screams medulla. Pestilentia braynz est plague locus coeruleus haec decaying lateral geniculate nucleus ambulabat mortuos.</p>
                        </div>
                    </section>
                    <section id="section2" role="tabpanel" aria-labelledby="tab2" class="tabs-panel js-tabs-panel">
                        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="section2" aria-expanded="false" tabindex="0">
                            Answer <div class="accordeon-trigger-icon">
                                <span class="label--open">Open</span><span class="label--close">Close</span><svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                                    <rect class="vert" height="18" width="2" fill="currentColor" y="1" x="9"></rect>
                                    <rect height="2" width="18" fill="currentColor" y="9" x="1"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="content" aria-hidden="true">
                            <h2>Answer</h2>
                            <p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex <a href="#">undead survivor</a> fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra hypothalamus adventus resi hippocampus dentevil.</p>
                        </div>
                    </section>
                    <section id="section3" role="tabpanel" aria-labelledby="tab3" class="tabs-panel js-tabs-panel">
                        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="section3" aria-expanded="false" tabindex="0">
                            追记 <div class="accordeon-trigger-icon">
                                <span class="label--open">Open</span><span class="label--close">Close</span><svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                                    <rect class="vert" height="18" width="2" fill="currentColor" y="1" x="9"></rect>
                                    <rect height="2" width="18" fill="currentColor" y="9" x="1"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="content" aria-hidden="true">
                            <h2>追记</h2>
                            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De <a href="#">carne lumbering animata</a> corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
                        </div>
                    </section>
                    <section id="section4" role="tabpanel" aria-labelledby="tab4" class="tabs-panel js-tabs-panel">
                        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="section4" aria-expanded="false" tabindex="0">
                            Question <div class="accordeon-trigger-icon">
                                <span class="label--open">Open</span><span class="label--close">Close</span><svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                                    <rect class="vert" height="18" width="2" fill="currentColor" y="1" x="9"></rect>
                                    <rect height="2" width="18" fill="currentColor" y="9" x="1"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="content" aria-hidden="true">
                            <h2>Questions</h2>
                            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De <a href="#">carne lumbering animata</a> corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
                        </div>
                    </section>
                    <section id="section5" role="tabpanel" aria-labelledby="tab5" class="tabs-panel js-tabs-panel">
                        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="section5" aria-expanded="false" tabindex="0">
                            Post <div class="accordeon-trigger-icon">
                                <span class="label--open">Open</span><span class="label--close">Close</span><svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                                    <rect class="vert" height="18" width="2" fill="currentColor" y="1" x="9"></rect>
                                    <rect height="2" width="18" fill="currentColor" y="9" x="1"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="content" aria-hidden="true">
                            <h2>Post</h2>
                            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De <a href="#">carne lumbering animata</a> corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
                        </div>
                    </section>
                    <section id="section6" role="tabpanel" aria-labelledby="tab6" class="tabs-panel js-tabs-panel">
                        <div class="accordeon-trigger js-accordeon-trigger" aria-controls="section6" aria-expanded="false" tabindex="0">
                            Follwers <div class="accordeon-trigger-icon">
                                <span class="label--open">Open</span><span class="label--close">Close</span><svg aria-hidden="true" focusable="false" viewBox="0 0 20 20">
                                    <rect class="vert" height="18" width="2" fill="currentColor" y="1" x="9"></rect>
                                    <rect height="2" width="18" fill="currentColor" y="9" x="1"></rect>
                                </svg>
                            </div>
                        </div>
                        <div class="content" aria-hidden="true">
                            <h2>Follwers</h2>
                            <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De <a href="#">carne lumbering animata</a> corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. </p>
                        </div>
                    </section>
                </section>
            </div>
        </div>
        <div class="col-xs-4 right">
            <div class="row info-right">
                <div class="activitys">
                    <h4>
                        activity
                    </h4>
                    <ul>
                        <li>activity 1</li>
                        <li>activity 2</li>
                        <li>activity 3</li>
                        <li>activity 4</li>
                        <li>activity 5</li>
                        <li>activity 6</li>
                    </ul>
                </div>

            </div>
            <div class="row info-right">
                <div class="activitys">
                    <h4>
                        knows about
                    </h4>
                    <ul>
                        <li>skill 1</li>
                        <li>skill 2</li>
                        <li>skill 3</li>
                        <li>skill 4</li>
                        <li>skill 5</li>
                        <li>skill 6</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/a11y-accordion-tabs.min.js"></script>
{% end %}
