{% extends "../theme/personal.html" %}
{% block head %}
<title>{{ _('User List') }}</title>
<meta name="description" content="{{ _('User List') }}">
<meta name="keywords" content="{{ _('User List') }}">
<link rel="stylesheet" href="/static/css/login/login-style.css">
{% end %}
{% block typebody %}
<div class="row">
            <div class="panel">
        <h1>IT Friends</h1>
        <div class="formset" id="form_login">
            <div class="form-group">
                <lable class="form-label">用户名</lable>
                <input type="text" name="user_name" id="user_name" class="form-control" type="text" onchange="changeLogin(this, 1)"/>
            </div>
            <div class="form-group">
                <lable class="form-label">密码</lable>
                <input class="form-control" type="password" id="password" onchange="changeLogin(this, 2)"/>
            </div>
            <button class="btn" onclick="submitLogin(this)">登录</button>
        </div>
        <h4>第三方账号</h4>
        <form class="twitter log-form">
            <h3 class="caption fa fa-twitter"></h3>
            <p>Login with Twitter</p><i class="close">&times;</i>
            <div class="formset">
                <div class="form-group">
                    <lable class="form-label">User Name</lable>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <lable class="form-label">Password</lable>
                    <input type="password" name="user_pass" id="user_pass" class="form-control" type="password" />
                </div>
                <button class="btn">Log in</button>
            </div>
        </form>
        <form class="google log-form">
            <h3 class="caption fa fa-google-plus"> </h3>
            <p>Login with Google + </p><i class="close">&times;</i>
            <div class="formset">
                <div class="form-group">
                    <lable class="form-label">User Name</lable>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <lable class="form-label">Password</lable>
                    <input class="form-control" type="password" />
                </div>
                <button class="btn">Log in</button>
            </div>
        </form>
        <form class="facebook log-form">
            <h3 class="caption fa fa-facebook"> </h3>
            <p>Login with Facebook </p><i class="close">&times;</i>
            <div class="formset">
                <div class="form-group">
                    <lable class="form-label">User Name</lable>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <lable class="form-label">Password</lable>
                    <input class="form-control" type="password" />
                </div>
                <button class="btn">Log in</button>
            </div>
        </form>
    </div>

        </div>
{% end %}
