{% extends "../theme/personal.html" %}
{% block typebody %}
<script type="text/javascript">
    $().ready(function () {
        $("#form_regist").validate(
                {
                    rules: {
                        user_name: {
                            required: true,
                            rangelength: [5, 16]
                        },
                        user_pass: {
                            required: true,
                            rangelength: [6, 20]
                        },
                        user_pass2: {
                            required: true,
                            equalTo: "#user_pass"
                        },
                        user_email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        user_name: {
                            required: "<span class='red'>Please enter your user name</span>",
                            rangelength: "<span class='red'>The user name for at least five, up to 16</span>"
                        },

                        user_pass: {
                            required: "<span class='red'>Please enter the password</span>",
                            rangelength: "<span class='red'>Password for at least six, up to 20 </span>"
                        },
                        user_pass2: {
                            required: "<span class='red'>Please enter the password</span>",
                            equalTo: "<span class='red'>Enter the password twice</span>"
                        },
                        user_email: {
                            required: "<span class='red'>Please enter a correct E-mail </span>",
                            email: "<span class='red'>Please enter a correct E-mail</span>"
                        }
                    }
                }
        );
    
        $("div.modal-body img").click(function(){
            $("div.modal-body img").removeClass("selected-img")
            $(this).addClass('selected-img');
        })

        $("button#avatarSub").click(function(){
            let selectedImg = $("div.modal-body img.selected-img");
            $("img#img-avatar").attr("src", selectedImg.attr("src"));
            $("#user_avatar").val(selectedImg.attr("src"));
        })
    });
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Select Avatar
                </h4>
            </div>
            <div class="modal-body">
                <ul>
                    {% for item in avatars %}
                    <li>
                        <div class="text-center">
                            <img src="/static/images/avatars/{{ item.avatar_path }}" alt="">
                        </div>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close
                </button>
                <button type="button" id="avatarSub" class="btn btn-primary">
                    submit
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="row regist">
    <div class="panel panel-black">
    <div class="panel-heading"><b>{{ _('Regist') }} </b></div>
    <div class="panel-body">
        <form id="form_regist" action="/user/regist" method="post" class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group avatar-group">
                    <label class="col-sm-2 control-label avatar-dom" for="user_name">{{ _('User avatar') }}： </label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="avatar">
                                    <img id="img-avatar" src='/static/images/avatars/default.png'
                                    />
                                </div>
                            </div>
                            <div class="col-sm-10 random avatar-dom">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    select Avatar
                                </button>
                            </div>
                        </div>    
                    </div>
                    <input class="form-control" style="display: none;" id='user_avatar' type="text" name="user_avatar">
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="user_name">{{ _('User Account') }}： </label>

                    <div class="col-sm-10">
                        <input class="form-control" id='user_name' type="text" name="user_name"
                               placeholder="User name must be alphabetic or alphanumeric combination (letter).">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="user_pass">{{ _('Password') }}：</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="user_pass" type="password" name="user_pass"
                               placeholder="Password at least 6, the longest 20. ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="user_pass2">{{ _('Confirm password') }}：</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="user_pass2" type="password" name="user_pass2"
                               placeholder="Please confirm and password input. ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="nick_name">{{ _('Nick Name') }}：</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="nick_name" type="text" name="nick_name"
                               placeholder="Please input yout nick name. ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="user_pass2">{{ _('Introduction') }}：</label>

                    <div class="col-sm-10">
                        <textarea name="introduction" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="sub1"></label>

                    <div class="col-sm-10">
                        <button id="sub1" type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>
<style>
    div.avatar {
        width: 50%;
    }
    div.modal.fade div.row div {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    div.modal.fade div.row div img {
        width: 95%;
    }
    div.modal.fade li {
        list-style:none;
        display: inline-block;
        width: 10%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    div.form-group.avatar-group label, div {
        vertical-align: middle;
    }
    .avatar-dom {
        margin-top: 1.5rem;
    }
    img.selected-img {
        border: 4px solid #05c6fe;
        border-radius: 8px;
    }
</style>
{% end %}

